<h3><%= "All Locations" %></h3>
<p><%= button_to "New Location", "/dashboard/locations/new", method: :get %></p>

<% @locations.each do |location| %>
  <h3><%= location.city %></h3> 
  <p>State: <%= location.state %></p>
  <p>Country: <%= location.country %></p>
<% end %>